
<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <span class="title">Starter Project</span>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Link 1</a>
        <a href="javascript://" class="nav-link nav-text">Link 2</a>
    </div>
    <!-- If you wish to have an action button on the top-right
      <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
    -->
</header>
  <div class="content-container">
      <div class="content-area">
        <db-notification-banner *ngIf="shouldDisplayNotification" [notification]="notification">
        </db-notification-banner>
        
        <h4> Evoila PROJ Angular Template </h4>

        <!-- 
          app-example is a simple hello world component to demonstrate notification.service
          and notification-banner.component in action 
        -->
        
        <app-example></app-example>
                
        
      </div>
  </div>
</div>


<router-outlet></router-outlet>